:root {
    --primary: rgba(118, 24, 251, 1);
    --secondary: rgba(121, 77, 255, 1);
    --blue: rgba(29, 108, 255, 1);
    --amber: rgba(255, 163, 16, 1);
    --red: rgba(255, 34, 34, 1);
    --pink: rgba(255, 34, 226, 1);
    --green: rgba(34, 255, 34, 1);
    --light: rgba(242, 242, 242, 1);
    --dark: rgba(16, 16, 16, 1);
    --light-grey: rgba(187, 187, 187, 1);
    --dark-grey: rgba(36, 36, 36, 1);
    --light-flyout-background: rgba(242, 242, 242, 0.8);
    --dark-flyout-background: rgba(36, 36, 36, 0.8);
    --regular-1-font-family: "Figtree", Helvetica;
    --regular-1-font-weight: 600;
    --regular-1-font-size: 8px;
    --regular-1-letter-spacing: 0px;
    --regular-1-line-height: normal;
    --regular-1-font-style: normal;
    --regular-2-font-family: "Figtree", Helvetica;
    --regular-2-font-weight: 600;
    --regular-2-font-size: 12px;
    --regular-2-letter-spacing: 0px;
    --regular-2-line-height: normal;
    --regular-2-font-style: normal;
    --large-font-family: "Figtree", Helvetica;
    --large-font-weight: 500;
    --large-font-size: 24px;
    --large-letter-spacing: 0px;
    --large-line-height: normal;
    --large-font-style: normal;
    --heading-font-family: "Figtree", Helvetica;
    --heading-font-weight: 600;
    --heading-font-size: 32px;
    --heading-letter-spacing: 0px;
    --heading-line-height: normal;
    --heading-font-style: normal;
    --title-font-family: "Figtree", Helvetica;
    --title-font-weight: 700;
    --title-font-size: 48px;
    --title-letter-spacing: 0px;
    --title-line-height: normal;
    --title-font-style: normal;
    --massive-font-family: "Figtree", Helvetica;
    --massive-font-weight: 700;
    --massive-font-size: 64px;
    --massive-letter-spacing: 0px;
    --massive-line-height: normal;
    --massive-font-style: normal;
    --flyout: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    --collection-1-rounded1: 20px;
    --collection-1-rounded2: 10px;
    --collection-1-rounded3: 5px;
    --collection-1-60: 60px;
}

